/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
  500: Medium
  700: Bold
  900: Black

#555555 - black
#374E54 - dark gray
#363636 - gray
#294A50 - green
#2B898F - greenish-blue
#80E6EC - blueish-green
*/

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4em;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 1pt solid #E1E1E1; /* the border */
  height: 1pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #2B898F;
  text-decoration: underline;
  font-weight: 900;
}

A:hover, A:active {
  color: #80E6EC;
  text-decoration: underline;
}

H1 {
  font-size: 1.7em;
}

H2 {
  font-size: 1.5em;
}

UL, OL {
  margin: 0 0 0 0.6em;
  padding: 0 0 0 0.6em;
}

.double-spaced LI {
  padding-bottom: 0.5em;
}

INPUT[type="text"],
INPUT[type="email"],
INPUT[type="password"],
TEXTAREA,
SELECT {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #2B898F;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1em 0;
  background: #FFFFFF;
  color: #252525;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  overflow: auto; /* Good ol' IE */
  margin-bottom: 2em;
}

TEXTAREA {
  padding: 0.9em 1em;
  height: 13em;
  border: 1px solid #2B898F;
}

INPUT[type="text"].note,
.select.note {
  margin-bottom: 0;
}

INPUT::-webkit-input-placeholder { color: #252525; uppercase; opacity: 1; }
INPUT:-moz-placeholder { color: #252525; uppercase; opacity: 1; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #252525; uppercase; opacity: 1; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #252525; uppercase; opacity: 1; } /* IE 10+ */
TEXTAREA::-webkit-input-placeholder { color: #252525; opacity: 1; }
TEXTAREA:-moz-placeholder { color: #252525; opacity: 1; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #252525; opacity: 1; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #252525; opacity: 1; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */
TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

INPUT[type="submit"] {
  outline: none;
  border: 0;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0.8em 1.3em 0.8em 1.5em;
  background: #80E6EC;
  color: #294A50;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-appearance: none; /* I prefer my styles, Steve Jobs */
  display: block;
  margin: 0 auto;
}

INPUT[type="submit"]:hover {
  background: #294A50;
  color: #FFFFFF;
}

INPUT[type="submit"][disabled],
INPUT[type="submit"][disabled]:hover {
  background: #CCCCCC;
  color: #DDDDDD;
  cursor: not-allowed;
}

SELECT {
  padding: 9px 30px 9px 0;
  margin-bottom: 0;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
}

.select:after {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-family: 'FontAwesome';
  content: "\f0d7";
  font-size: 2em;
  color: #2B898F;
  pointer-events: none;
}

FORM LABEL {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1em;
  color: #252525;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.2em;
  margin-bottom: 1.7em;
}

FORM LABEL:after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-box-shadow:inset 0px 0px 0px 3px #2B898F;
  -moz-box-shadow:inset 0px 0px 0px 3px #2B898F;
  box-shadow:inset 0px 0px 0px 3px #2B898F;
  border-radius: 50%;
}

FORM INPUT[type="radio"] + LABEL:after {
  border-radius: 50%;
}

FORM INPUT[type="checkbox"],
FORM INPUT[type="radio"] {
  display: none;
}

FORM INPUT[type="checkbox"] + LABEL {
  padding-left: 1.5em;
}

FORM INPUT[type="checkbox"] + LABEL:after {
  border-radius: 2px;
}

FORM INPUT[type="checkbox"]:checked + LABEL:after,
FORM INPUT[type="radio"]:checked + LABEL:after {
  background: #2B898F;
}

.my-form-label {
  color: #252525;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.2em;
  margin-top: 0.5em;
}

.form-note {
  font-size: 80%;
  font-style: italic;
  margin-bottom: 1.5em;
}

#form-messages {
  min-height: 2.4em;
  line-height: 1.2em;
  color: #B7262F;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.site-width {
  width: 1200px;
  margin: 0 auto;
}

.site-width:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.bluetext { color: #80E6EC; }
.greentext { color: #2B898F; }

.right {
  float: right;
  margin-left: 3%;
  max-width: 50% !important;
  height: auto;
}

.left {
  float: left;
  margin-right: 3%;
  max-width: 50% !important;
  height: auto;
}

.menu-top {
  padding: 1em 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  border-bottom: 1px solid #E1E1E1;
  position: relative;
}

.menu-top A {
  display: inline-block;
  color: #374E54;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0.2em;
  margin-left: 1em;
  border: 4px solid #2B898F;
  border-radius: 18px;
  padding: 0.85em 1em 0.6em 1.2em;
  text-align: center;
}

.menu-top A:first-of-type {
  margin-left: 0;
}

.menu-top A:hover,
.menu-top A:active {
  color: #80E6EC;
  border-color: #80E6EC;
}

.menu-top .social {
  float: right;
  margin-top: 1em;
}

.menu-top .social A:link,
.menu-top .social A:visited {
  letter-spacing: 0;
  margin-left: 0.3em;
  display: inline-block;
  width: 26px;
  height: 26px;
  font-size: 17px;
  border-radius: 50%;
  background: #374E54;
  color: #FFFFFF;
  position: relative;
  border: 0;
  padding: 0;
  vertical-align: middle;
}

.menu-top .social A .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-top .social A.facebook { background: #205B9F; }
.menu-top .social A.twitter { background: #1DA1F2; }
.menu-top .social A.pinterest { background: #EB1922; }
.menu-top .social A.instagram { background: #8A3AB9; }
.menu-top .social A.linkedin { background: #0074B5; }

.menu-top .social A:hover,
.menu-top .social A:active {
  background: #2B898F;
}

.menu-top .social A:first-of-type {
  margin-left: 1em;
}

.nsi-header {
  padding: 22px 4%;
  position: relative;
}

#show-menu,
#menu-toggle {
  display: none;
}

.nsi-header > UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 75%;
  text-align: right;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.07em;
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  z-index: 102;
}

.nsi-header UL LI {
  display: inline-block;
  margin-left: 5%;
  padding: 1em 0;
  text-transform: uppercase;
  position: relative;
}

.nsi-header UL LI:first-child {
  margin-left: 0;
}

.nsi-header UL LI.mobile,
.nsi-header UL LI.social {
  display: none;
}

.nsi-header UL LI A:link,
.nsi-header UL LI A:visited {
  color: #374E54;
  text-decoration: none;
}

.nsi-header > UL > LI > A.current,
.nsi-header > UL > LI:hover > A {
  border-bottom: 4px solid #80E6EC;
}

.nsi-header UL LI UL {
  display: none;
  text-align: left;
  position: absolute;
  top: 100%;
  left: -2.2em;
  background: #3D5459;
  color: #FFFFFF;
  font-size: 14px;
  padding: 1.7em 2.2em;
}

.nsi-header UL LI:hover UL {
  display: block;
}

.nsi-header UL LI UL LI {
  display: block;
  margin-left: 0;
  padding: 0.3em 0;
}

.nsi-header UL LI UL LI:hover {
  border: 0;
}

.nsi-header UL LI UL LI.menu-header {
  padding-top: 1.5em;
}

.nsi-header UL LI UL LI A:link,
.nsi-header UL LI UL LI A:visited {
  color: #80E6EC;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  white-space: nowrap;
}

.nsi-header UL LI UL LI A:hover,
.nsi-header UL LI UL LI A:active {
  border-bottom: 0;
  color: #FFFFFF;
}

.banner {
  width: 100%;
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.banner.banner-blog {
  background-image: url(../images/banner-blog.jpg);
}

.banner:after {
  content: "";
  display: block;
  padding-top: 22.9166%; /* 275px */
}

.banner H2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0;
  width: 100%;
  color: #FFFFFF;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.cycle-slideshow {
  margin-bottom: 3.5em;
}

.cycle-slideshow > DIV {
  width: 100%;
  height: 650px;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: none;
}

.cycle-slideshow > DIV:first-of-type {
  display: block;
}

.cycle-slideshow .cycle-pager {
  position: absolute;
  bottom: 0;
  z-index: 101;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
}

.cycle-slideshow .cycle-pager SPAN {
  margin: 0 0.2em;
  width: 7px;
  height: 7px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.cycle-slideshow .cycle-pager SPAN.cycle-pager-active {
  background: #80E6EC;
  border: 3px solid #80E6EC;
}

.cycle-slideshow > DIV > DIV {
  width: 500px;
  position: absolute;
  left: 8.5%;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  /*font-family: 'Rubik One', sans-serif;*/
  font-weight: 900;
  font-size: 4.9vw;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.cycle-slideshow > DIV > DIV.first-slide {
  width: 600px;
  font-size: 83px;
}

.cycle-slideshow > DIV > DIV.bumpdown {
  transform: translateY(-20%);
}

.cycle-slideshow > DIV > DIV.first-slide .greentext {
  padding: 1em 0 2em;
  font-size: 21px;
  line-height: 1em;
}

.cycle-slideshow > DIV > DIV .small {
  font-size: 57%;
  line-height: 1.4em;
  letter-spacing: 0.2em;
}

.cycle-slideshow > DIV > DIV .smaller {
  font-size: 43%;
  line-height: 1.4em;
  letter-spacing: 0.25em;
}

.cycle-slideshow > DIV > DIV .learnmore {
  margin-top: 3.5em;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0.4em;
}

.cycle-slideshow > DIV > DIV.bumpdown .learnmore {
  margin-top: 2em;
}

.home-left {
  float: left;
  width: 57%;
  font-weight: 700;
  font-size: 26px;
  line-height: 2em;
}

.home-left H1 {
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1em;
  display: inline;
}

.home-left A.button:link,
.home-left A.button:visited {
  text-decoration: none;
  border: 4px solid #2B898F;
  border-radius: 1.4em;
  color: #374E54;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  letter-spacing: 0.3em;
  padding: 0.2em 1.2em 0.2em 1.5em;
}

.home-left A.button:hover,
.home-left A.button:active {
  border-color: #80E6EC;
  color: #80E6EC;
}

.home-right {
  float: right;
  width: 38%;
  box-sizing: border-box;
  padding: 1em 2%;
  background: #2B898F;
  color: #000000;
  font-weight: 900;
  font-size: 38px;
  line-height: 1.8em;
  text-align: center;
  font-style: italic;
}

.home-right DIV {
  font-size: 70%;
  line-height: 1.3em;
  margin-top: 1em;
  font-style: normal;
}

.home-right DIV U {
  color: #FFFFFF;
}

.home-right IMG {
  max-width: 100%;
  height: auto;
}

.footer-spiffs {
  display: none;
}

.footer-spiff {
  margin-top: 2em;
  float: left;
  width: 48.25%;
  box-sizing: border-box;
  padding: 1.5em 4.3%;
  background: #2B898F;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 33px;
  line-height: 1em;
  min-height: 191px;
}

.footer-spiff.last {
  float: right;
}

.footer-spiff A:link,
.footer-spiff A:visited {
  margin-top: 1.2em;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1em;
  color: #80E6EC;
  text-decoration: none;
}

.footer-spiff A:hover,
.footer-spiff A:active {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-spiff A .fa {
  color: #FFFFFF;
}

.footer-contact {
  margin-top: 1.8em;
  padding: 2em 0;
  text-align: center;
  background: #374E54;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 28px;
  line-height: 1em;
}

.footer-contact SPAN:after {
  content: "\2022";
  margin: 0 0.25em;
}

.footer-contact .phone {
  display: inline-block;
  font-weight: 700;
}

.footer-contact A:link,
.footer-contact A:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
}

.footer-contact A:hover,
.footer-contact A:active {
  color: #80E6EC;
}

.nsi-footer {
  padding: 2em 0;
}

.nsi-footer .address {
  float: left;
  width: 40%;
  font-weight: 900;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.1em;
  color: #374E54;
}

.nsi-footer .footer-menu {
  float: right;
  width: 60%;
  text-align: right;
}

.nsi-footer .footer-menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 900;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nsi-footer .footer-menu UL LI {
  display: inline-block;
  margin-left: 8%;
}

.nsi-footer .footer-menu UL LI:nth-of-type(2) {
  margin-left: 0;
}

.nsi-footer .footer-menu UL LI.home,
.nsi-footer .footer-menu UL LI.mobile,
.nsi-footer .footer-menu UL LI.social {
  display: none;
}

.nsi-footer .footer-menu UL LI A:link,
.nsi-footer .footer-menu UL LI A:visited {
  color: #374E54;
  text-decoration: none;
}

.nsi-footer .footer-menu UL LI A:hover,
.nsi-footer .footer-menu UL LI A:active {
  color: #80E6EC;
  text-decoration: none;
}

.nsi-footer .footer-menu UL LI UL {
  display: none;
}

.copybox {
  margin-top: 1em;
  padding: 1.5em;
  box-sizing: border-box;
  background: #374E54;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 21px;
  line-height: 1.2em;
  text-align: center;
}

.programs {
  width: 1100px;
  margin: 0 auto;
  padding-top: 2.5em;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.4em;
}

.programs UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.programs > UL > LI {
  display: none;
}

.programs UL LI.programs-menu {
  display: block;
}

.programs UL LI.programs-menu > A {
  display: none;
}

.programs UL LI.programs-menu UL LI {
  margin: 0 2em;
  padding: 0.2em 0;
  display: inline-block;
}

.programs UL LI.programs-menu UL LI.menu-header {
  padding-top: 1.5em;
}

.programs UL LI.programs-menu UL LI.first-menu-header,
.programs UL LI.programs-menu UL LI.menu-header {
  display: block;
  text-transform: uppercase;
  color: #374E54;
  font-weight: 900;
  font-size: 30px;
}

.programs UL LI.programs-menu UL LI A:link,
.programs UL LI.programs-menu UL LI A:visited {
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}

.programs-sidebar {
  float: left;
  width: 26.33%;
  margin-top: 50px;
}

.programs-sidebar .menu {
  padding: 1.3em;
  background: #374E54;
  color: #6ED1D7;
  font-weight: 900;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.programs-sidebar .menu UL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs-sidebar .menu > UL > LI {
  display: none;
}

.programs-sidebar .menu UL LI.programs-menu {
  display: block;
}

.programs-sidebar .menu UL LI.programs-menu > A {
  display: none;
}

.programs-sidebar .menu UL LI.programs-menu UL LI {
  padding: 0.2em 0;
}

.programs-sidebar .menu UL LI.programs-menu UL LI.menu-header {
  padding-top: 1.5em;
}

.programs-sidebar .menu UL LI.programs-menu UL LI A:link,
.programs-sidebar .menu UL LI.programs-menu UL LI A:visited {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}

.programs-sidebar .menu UL LI.programs-menu UL LI A.current,
.programs-sidebar .menu UL LI.programs-menu UL LI A:hover,
.programs-sidebar .menu UL LI.programs-menu UL LI A:active {
  color: #6ED1D7;
}

.programs-sidebar .footer-spiff,
.contact-sidebar .footer-spiff {
  float: none;
  width: 100%;
  font-size: 18px;
  padding: 1.5em;
  min-height: 0;
}

.programs-sidebar .footer-spiff A,
.contact-sidebar .footer-spiff A {
  font-size: 14px;
}

.programs-sub {
  float: right;
  width: 70.16%;
  margin: 50px 0 25px;
  line-height: 1.8em;
}

.programs-sub H3 {
  margin: 0 0 0.5em;
  color: #374E54;
  font-weight: 900;
  font-size: 38px;
  line-height: 1em;
  letter-spacing: 0.01em;
}

.programs-sub H4 {
  margin: 0 0 0.6em;
  font-size: 18px;
  font-weight: 900;
}

.programs-sub IMG {
  max-width: 100%;
  height: auto;
}

A.printable {
  font-weight: 900;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
}

A.printable:after {
  font-family: "FontAwesome";
  content: "\f02f";
  margin-left: 0.5em;
}

#yoga-form,
#womens-fitness-form {
  margin: 0 auto;
  width: 66%;
}

#yoga-form #r-res-addr + LABEL,
#womens-fitness-form #r-res-addr + LABEL {
  margin-left: 1.5em;
}

#yoga-form #state,
#womens-fitness-form #state {
  float: left;
  width: 45%;
}

#yoga-form #state .select,
#womens-fitness-form #state .select {
  width: 100%;
}

#yoga-form #zip,
#womens-fitness-form #zip {
  float: right;
  width: 45%;
}

#yoga-form #r-no + LABEL,
#womens-fitness-form #r-no + LABEL {
  margin-left: 1.5em;
}

INPUT[type="checkbox"]#r-agree + LABEL:after {
  top: 0.25em;
  transform: none;
}

#yoga-form #form-messages,
#womens-fitness #form-messages {
  margin-bottom: 2em;
}

.market-research {
  margin: 2.5em 0;
}

.market-research HR {
  border-color: #80E6EC;
}

.market-research H1 {
  margin: 1.3em 0 0.7em;
  color: #374E54;
  font-weight: 900;
  font-size: 38px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}

.market-research INPUT[type="text"] {
  border: 1px solid #252525;
  padding: 0 0.2em;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1em;
  height: 1.3em;
  width: auto;
  margin-bottom: 0;
}

.market-research .samples {
  margin: 0 auto;
  width: 380px;
}

.market-research .samples TD {
  white-space: nowrap;
  text-align: right;
  padding: 0.2em 0.3em;
}

.market-research .samples TD:nth-child(3n+3) {
  text-align: left;
}

.market-research .samples INPUT[type="text"] {
  width: 100%;
  text-align: right;
}

.market-research #chartdiv {
  margin: 0 auto;
  width: 400px;
  height: 250px;
}

.market-research .ratios {
  margin: 0 auto;
  width: 400px;
}

.market-research .ratios TD {
  white-space: nowrap;
  text-align: center;
  padding: 0.2em 0.5em;
}

.market-research .payback {
  margin: 0 auto;
  width: 400px;
}

.market-research .payback TD {
  white-space: nowrap;
  text-align: center;
  padding: 0.2em 0.5em;
}

.market-research .payback INPUT[type="text"] {
  width: 38px;
  text-align: right;
}

.about-intro {
  margin: 1.8em 0;
  padding: 2em;
  background: #2B898F;
  color: #000000;
  font-size: 23px;
  line-height: 1.6em;
}

.about-intro H1 {
  margin: 0 0 0.3em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.about,
.brands {
  line-height: 1.8em;
}

.about H2,
.brands H2 {
  margin: 1.5em 0 0.3em;
  font-weight: 900;
  font-size: 38px;
  line-height: 1em;
  letter-spacing: 0.1em;
}

.about H3 {
  margin: 0 0 0.3em;
  font-size: 18px;
  font-weight: 900;
  line-height: 1em;
}

.about H3 EM {
  font-size: 17px;
  font-weight: 500;
}

.about .clients,
.brands .brand-logos {
  text-align: center;
}

.about .clients IMG,
.brands .brand-logos IMG {
  width: 15%;
  height: auto;
  margin: 1.5em 4%;
  vertical-align: middle;
}

.about .clients IMG.wide,
.brands .brand-logos IMG.wide {
  width: 25%;
}

.about .clients IMG.tall,
.brands .brand-logos IMG.tall {
  width: 8%;
}

.about A.brands:link,
.about A.brands:visited {
  margin-top: 2em;
  display: inline-block;
  border: 4px solid #2B898F;
  border-radius: 19px;
  padding: 0.7em 1.4em 0.55em 1.7em;
  color: #374E54;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.about A.brands:hover,
.about A.brands:active {
  border-color: #80E6EC;
  color: #80E6EC;
}

#distribution-process {
  margin-top: 6em;
  background: #294A50;
  color: #FFFFFF;
  position: relative;
}

.distribution-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url(../images/distribution.jpg);
  background-position: center center;
  background-size: cover;
}

.distribution-text {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding: 4em 2.4em;
  line-height: 2em;
}

.distribution-text H2 {
  margin: 0 0 0.8em;
  font-weight: 900;
  font-size: 38px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
}

.distribution-text .button {
  display: inline-block;
  margin-top: 1.5em;
  border: 4px solid #80E6EC;
  border-radius: 17px;
  padding: 0.6em 1em 0.4em 1.3em;
  color: #80E6EC;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.3em;
}

.distribution-text .button .fa {
  color: #FFFFFF;
  letter-spacing: 0;
}

#distribution-partners {
  margin-top: 3em;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 2em;
  color: #294A50;
}

#distribution-partners SPAN:after {
  content: "\2022";
  margin: 0 0.5em;
}

#contact-form {
  float: left;
  width: 60.5%;
  margin-top: 47px;
  font-weight: 900;
  font-size: 18px;
}

#contact-form H1 {
  margin: 0 0 0.25em;
  font-weight: 900;
  font-size: 38px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #2B898F;
}

#contact-form #form-messages {
  margin-top: -1em;
}

.contact-sidebar {
  float: right;
  width: 31.16%;
  margin-top: 47px;
}

.contact-sidebar .contacts {
  padding: 2em 3em;
  box-sizing: border-box;
  background: #2B898F;
  color: #000000;
  line-height: 1.5em;
}

.contact-sidebar .contacts DIV {
  padding: 0.8em 0;
}

.contact-sidebar .contacts STRONG {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-sidebar .contacts A:link,
.contact-sidebar .contacts A:visited {
  color: #80E6EC;
}

.contact-sidebar .contacts A:hover,
.contact-sidebar .contacts A:active {
  color: #FFFFFF;
}

.contact-address {
  margin-top: 4em;
  padding: 2em;
  background: #294A50;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
}

.contact-address H2 {
  margin: 0 0 0.4em;
  font-weight: 900;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #78DDE2;
}

.contact-address SPAN:after {
  content: "\2022";
  margin: 0 0.5em;
  color: #78DDE2;
}

#map-canvas {
  margin-top: 4em;
  width: 100%;
}

#map-canvas:before {
  content: "";
  display: block;
  padding-top: 36.39%;
}

#map-canvas A:link, #map-canvas A:visited { color: #294A50; text-decoration: none; }
#map-canvas A:hover, #map-canvas A:active { color: #2B898F; text-decoration: none; }

.banner-blog-index {
  text-transform: uppercase;
  margin-bottom: 6em;
}

.blog-content-index {
  margin: 3em 0;
  font-size: 18px;
  line-height: 1.4em;
  text-align: center;
}

.blog-content {
  padding: 3em 0 0;
}

.blog-content-index H2,
.blog-content H2 {
  margin: 0 0 0.1em;
  color: #374E54;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.blog-content-index .date,
.blog-content .date {
  margin: 0 0 2em;
  color: #2B898F;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.blog-content-index .readmore {
  margin-top: 2em;
  display: inline-block;
  text-decoration: none;
  border: 4px solid #2B898F;
  border-radius: 0.8em;
  padding: 0.5em 1.4em;
}

.blog-content-index .readmore:hover {
  border-color: #80E6EC;
}

.navigation {
  margin: 4em 0 3em;
}

.nav-links A:link,
.nav-links A:visited {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1em;
}

.nav-links .prev {
  float: left;
}

.nav-links .prev:before {
  font-family: "FontAwesome";
  content: "\f177";
  margin-right: 0.4em;
}

.nav-links .next {
  float: right;
}

.nav-links .next:after {
  font-family: "FontAwesome";
  content: "\f178";
  margin-left: 0.4em;
}


@media only screen and (max-width: 1200px) {
  .site-width {
    width: 96%;
  }

  .nsi-header {
    padding: 22px 0;
  }

  .nsi-header > UL {
    right: 0;
  }

  .cycle-slideshow > DIV > DIV {
    width: 40%;
    font-size: 5.5vw;
  }

  .home-left H1 {
    font-size: 3.63vw;
  }

  .footer-spiff {
    font-size: 2.75vw;
  }

  .footer-spiff A:link,
  .footer-spiff A:visited {
    font-size: 54.54%;
  }
  
  #yoga-form,
  #womens-fitness-form {
    margin: 0;
    width: 75%;
  }

  #distribution-partners SPAN:nth-of-type(4) {
    display: block;
    visibility: hidden;
    height: 0.25em;
  }

  #contact-form H1 {
    font-size: 3.1vw;
  }
}

@media only screen and (max-width: 1100px) {
  .programs {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .nsi-header > UL {
    width: 80%;
  }

  .nsi-header UL LI {
    margin-left: 4%;
  }

  .banner H2 {
    font-size: 4.4vw;
  }

  .home-left H1 {
    font-size: 44px;
  }

  .home-right {
    font-size: 26px;
  }

  .footer-spiff {
    min-height: 162px;
  }

  .footer-contact SPAN:first-of-type {
    display: block;
    visibility: hidden;
  }

  .nsi-footer .address,
  .nsi-footer .footer-menu {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0.75em 0;
  }

  .nsi-footer .footer-menu UL LI,
  .nsi-footer .footer-menu UL LI:nth-of-type(2) {
    margin: 0 4%;
  }

  #yoga-form,
  #womens-fitness-form {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  .nsi-header UL {
    display: none;
  }

  #menu-toggle {
    display: inline-block;
    cursor: pointer;
    color: #2B898F;
    font-size: 49px;
    height: auto;
    line-height: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  #menu-toggle:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
  }

  #show-menu:checked + #menu-toggle:after {
    content: "\f00d";
  }

  #show-menu:checked + #menu-toggle + UL {
    display: block;
    background: rgba(43, 137, 143, 0.97);
    padding: 0.5em 0;
    width: 104%;
    text-align: left;
    font-size: 6vw;
    top: 136px;
    left: -2%;
    transform: none;
  }

  .nsi-header UL LI {
    display: block;
    margin-left: 0;
    padding: 0.5em 2%;
  }

  .nsi-header UL LI.social A:link,
  .nsi-header UL LI.social A:visited {
    margin: 0 0.3em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.65em;
    text-align: center;
    border-radius: 50%;
    background: #FFFFFF;
    color: #374E54;
  }

  .nsi-header UL LI.social A:hover,
  .nsi-header UL LI.social A:active {
    background: #80E6EC;
  }

  .nsi-header UL LI A:link,
  .nsi-header UL LI A:visited {
    color: #FFFFFF;
  }

  .nsi-header > UL > LI:hover > A {
    border-bottom: 0;
  }

  .nsi-header UL LI UL {
    display: block;
    position: static;
    background: transparent;
    font-size: 70%;
    padding: 0;
  }

  .nsi-header UL LI UL LI {
    padding: 0.1em 0;
  }

  .cycle-slideshow > DIV > DIV.first-slide {
    width: 90%;
  }

  .programs UL LI {
    width: 50%;
  }

  .programs-sidebar {
    display: none;
  }

  .programs-sub {
    float: none;
    width: 100%;
  }

  .footer-spiff {
    display: block;
    min-height: 126px;
  }

  .about .clients IMG,
  .brands .brand-logos IMG {
    width: 22%;
    margin: 1.5em 5%;
  }

  .about .clients IMG.wide,
  .brands .brand-logos IMG.wide {
    width: 50%;
  }

  .about .clients IMG.tall,
  .brands .brand-logos IMG.tall {
    width: 14%;
  }

  #contact-form,
  .contact-sidebar {
    float: none;
    width: 100%;
  }

  #contact-form H1 {
    font-size: 5.2vw;
  }

  .contact-sidebar .contacts DIV {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  .contact-sidebar .footer-spiff {
    display: none;
  }

  #map-canvas:before {
    padding-top: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .menu-top {
    display: none;
  }

  .nsi-header UL LI.mobile,
  .nsi-header UL LI.social {
    display: block;
  }

  .nsi-header UL LI.social {
    text-align: center;
  }
  
  .banner:after {
    padding-top: 30%;
  }

  .banner H2 {
    font-size: 5.4vw;
  }

  .cycle-slideshow > DIV {
    height: 325px;
  }

  .cycle-slideshow > DIV > DIV.first-slide {
    font-size: 55px;
    line-height: 1em;
  }

  .cycle-slideshow > DIV > DIV.first-slide .greentext {
    padding: 1em 0 0;
    line-height: 1.2em;
  }

  .cycle-slideshow > DIV > DIV.first-slide .learnmore {
    margin-top: 2em;
  }

  .home-left,
  .home-right {
    float: none;
    width: 100%;
  }

  .home-right {
    margin-top: 2em;
    font-size: 30px;
  }

  .footer-contact SPAN {
    display: block;
    visibility: hidden;
  }

  .footer-spiff {
    margin-top: 1.2em;
    float: none;
    width: 100%;
    font-size: 33px;
  }

  .programs UL LI {
    float: none;
    width: 100%;
    text-align: left;
    height: auto;
  }

  #distribution-process {
    padding-bottom: 500px;
  }

  .distribution-image {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 500px;
  }

  .distribution-text {
    float: none;
    width: 100%;
  }

  #distribution-partners SPAN:nth-of-type(4) {
    display: inline-block;
    visibility: visible;
    height: auto;
  }

  #distribution-partners SPAN:nth-of-type(3),
  #distribution-partners SPAN:nth-of-type(6) {
    display: block;
    visibility: hidden;
    height: 0.25em;
  }

  .contact-sidebar .contacts DIV {
    width: 45%;
  }

  .contact-sidebar .contacts DIV:nth-child(odd) {
    margin-right: 9%;
  }

  .contact-address SPAN {
    display: block;
    visibility: hidden;
    height: 0.5em;
  }

  #map-canvas:before {
    padding-top: 60%;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  .cycle-slideshow > DIV {
    height: 250px;
  }

  .cycle-slideshow > DIV > DIV.first-slide {
    font-size: 35px;
    line-height: 1em;
  }

  .cycle-slideshow > DIV > DIV.first-slide .greentext {
    font-size: 14px;
  }

  .home-right {
    font-size: 20px;
    padding: 1em 5%;
  }
  
  #yoga-form #r-comm-addr + LABEL,
  #womens-fitness-form #r-comm-addr + LABEL {
    margin-bottom: 0;
  }
  
  #yoga-form #r-res-addr + LABEL,
  #womens-fitness-form #r-res-addr + LABEL {
    margin-left: 0;
  }
  
  #yoga-form #state,
  #yoga-form #zip,
  #womens-fitness-form #state,
  #womens-fitness-form #zip {
    float: none;
    width: 100%;
  }
  
  .market-research .samples,
  .market-research #chartdiv,
  .market-research .ratios,
  .market-research .payback {
    width: 100%;
  }

  .market-research .ratios TD {
    white-space: normal;
    font-size: 80%;
    line-height: 1.2em;
  }
  
  .market-research .payback TD {
    font-size: 70%;
  }

  .market-research .payback INPUT[type="text"] {
    font-size: 80%;
  }

  .about .clients IMG,
  .brands .brand-logos IMG {
    width: 39%;
    margin: 1.5em 5%;
  }

  .about .clients IMG.wide,
  .brands .brand-logos IMG.wide {
    width: 90%;
  }

  .about .clients IMG.tall,
  .brands .brand-logos IMG.tall {
    width: 30%;
  }

  .distribution-text H2 {
    font-size: 9vw;
  }

  #distribution-partners SPAN:nth-of-type(2),
  #distribution-partners SPAN:nth-of-type(5) {
    display: block;
    visibility: hidden;
    height: 0.25em;
  }

  #contact-form H1 {
    font-size: 5vw;
  }

  .contact-sidebar .contacts DIV,
  .contact-sidebar .contacts DIV:nth-child(odd) {
    width: 100%;
    margin-right: 0;
  }

  #map-canvas:before {
    padding-top: 100%;
  }
}